.container {

    width:500px;
    height:460px;
    background-image: url('./img/backcards.jpg');
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;   
    transform: translate(25%,10%);
}



.card {
    margin-top: 1px;
   text-align: center;
    
}
.card h4{
    font-size:15px;
    color:white
    
}
.card h3{
    font-size:18px;
    color: #ffffff;
    
}
.card:hover{
    transform: scale(1.02, 1.02);
    transition-timing-function: ease-out;
    transition-duration: 150ms;
    transform: scale(1.02, 1.02);
    transition-timing-function: ease-out;
    transition-duration: 150ms;
}

.img {
    
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 1rem;
    width:350px ;
    height:300px;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #368b80;
    font-style: italic;
}